<template>
  <div
    class="my-5"
    :class="
      $vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'
        ? 'pr-5 pl-2'
        : 'px-2'
    "
  >
    <v-row>
      <v-col cols="12">
        <Breadcrumbs :items="breadcrumbs" />
      </v-col>
      <v-col cols="12">
        <v-card flat>
          <v-card-title>
            <v-row align="center" justify="space-between">
              <v-col
                cols="12"
                md="5"
                class="d-flex flex-column-reverse flex-md-row align-md-center"
              >
                <div
                  class="d-flex my-2 align-center mr-md-2 text--secondary caption"
                >
                  <span class="mr-1">Show</span>
                  <v-select
                    style="width: 80px"
                    class="body-2 mx-1"
                    v-model="itemsPerPage"
                    outlined
                    single-line
                    hide-details
                    dense
                    :items="itemsPerPageOptions"
                  ></v-select>
                  <span class="ml-1">entries</span>
                </div>
              </v-col>
              <v-col cols="12" md="3">
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  class="body-2"
                  single-line
                  outlined
                  dense
                  hide-details
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="4">
                <v-row no-gutters align="center">
                  <v-col>
                    <v-menu
                      ref="start"
                      min-width="290px"
                      max-width="290px"
                      transition="scale-transition"
                      offset-y
                      nudge-bottom
                      :nudge-right="40"
                      :close-on-content-click="false"
                      v-model="picker.startDate"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          hide-details
                          full-width
                          outlined
                          dense
                          readonly
                          label="Start Date"
                          clearable
                          @click:clear="filters.startDate = ''"
                          v-model="filters.startDate"
                          v-on="on"
                        >
                        </v-text-field>
                      </template>
                      <v-date-picker
                        v-model="filters.startDate"
                        @input="picker.startDate = false"
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col
                    cols="1"
                    style="min-width: 40px"
                    class="caption text--secondary mx-2 text-center"
                  >
                    to
                  </v-col>
                  <v-col>
                    <v-menu
                      ref="start"
                      min-width="290px"
                      max-width="290px"
                      transition="scale-transition"
                      offset-y
                      nudge-bottom
                      :nudge-right="40"
                      :close-on-content-click="false"
                      v-model="picker.endDate"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          hide-details
                          full-width
                          outlined
                          dense
                          readonly
                          label="Start Date"
                          clearable
                          @click:clear="filters.endDate = ''"
                          v-model="filters.endDate"
                          v-on="on"
                        >
                        </v-text-field>
                      </template>
                      <v-date-picker
                        v-model="filters.endDate"
                        @input="picker.endDate = false"
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-skeleton-loader
              class="ma-auto"
              :loading="loadLogs"
              transition="fade-transition"
              :tile="false"
              type="table-row"
              v-for="index in loadLogs ? 10 : 1"
              :key="index"
            >
              <v-data-table
                v-show="logs.length >= 1"
                :headers="headers"
                mobile-breakpoint="1"
                hide-default-footer
                :items="logs"
                :page.sync="page"
                @page-count="pageCount = $event"
                :search="search"
                :items-per-page="itemsPerPage"
                fixed-header
                min-height="250px"
                :height="
                  $vuetify.breakpoint.name !== 'xs' ? 'calc(100vh - 52vh)' : ''
                "
              >
                <template v-slot:[`item.no`]="{ index }">
                  {{ index + 1 }}
                </template>
                <template v-slot:[`item.createdAt`]="{ item }">
                  <span v-if="item.createdAt">
                    {{ item.createdAt | datetime }}
                  </span>
                  <span v-else> - </span>
                </template>
                <template v-slot:[`item.description`]="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <span v-bind="attrs" v-on="on">
                        {{ item.description | address }}
                      </span>
                    </template>
                    <span>
                      {{ item.description }}
                    </span>
                  </v-tooltip>
                </template>
              </v-data-table>
            </v-skeleton-loader>
            <div
              class="text-center text--secondary"
              v-show="!loadLogs && logs.length < 1"
            >
              <v-icon
                style="font-size: 60px; margin-top: 1.5em"
                color="primary"
              >
                mdi-close-circle-outline
              </v-icon>
              <p class="headline font-weight-bold mt-2 mb-1">Data Not Found</p>
              <p>Data you are looking for is not here</p>
            </div>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-row>
              <v-col
                v-if="logs.length > 0 && $vuetify.breakpoint.name !== 'xs'"
                cols="5"
              >
                <div class="body-2 font-weight-bold mt-4">
                  Total {{ logs.length }} data
                </div>
              </v-col>
              <v-col
                v-if="pageCount > 1"
                :cols="$vuetify.breakpoint.name !== 'xs' ? '7' : '12'"
              >
                <div class="float-sm-right">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    :total-visible="5"
                    color="primary"
                    circle
                  >
                  </v-pagination>
                </div>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import log from '@/mixins/log';
import Breadcrumbs from '@/components/Breadcrumbs';
export default {
  components: { Breadcrumbs },
  mixins: [log],
  data() {
    return {
      picker: {
        startDate: false,
        endDate: false,
      },
      filters: {
        startDate: '',
        endDate: '',
      },
      page: 1,
      pageCount: 0,
      search: '',
      itemsPerPage: 10,
      itemsPerPageOptions: [10, 20, 30, 50],
      headers: [
        {
          text: 'No',
          value: 'no',
          align: 'start',
          width: 60,
          sortable: false,
          class: 'text-uppercase body-2',
        },
        {
          text: 'Action Date',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'createdAt',
        },
        {
          text: 'IP Address',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'ip',
        },
        {
          text: 'Actions',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'action',
        },
        {
          text: 'Notes',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'description',
        },
      ],
      breadcrumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
        },
        {
          text: 'Administration',
          disabled: true,
          to: '/',
        },
        {
          text: 'Log Activity',
          disabled: true,
          to: '/',
        },
      ],
    };
  },
  mounted() {
    this.getLogs();
  },
};
</script>
