<template>
  <div
    class="my-5"
    :class="
      $vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'
        ? 'pr-5 pl-2'
        : 'px-2'
    "
  >
    <v-row>
      <v-col cols="12">
        <v-card flat>
          <v-card-title
            class="body-1 text--secondary d-flex align-center justify-space-between"
          >
            <span> Stress Level Report </span>
            <v-sheet max-width="190px">
              <v-menu
                ref="start"
                min-width="290px"
                max-width="290px"
                transition="scale-transition"
                offset-y
                nudge-bottom
                :nudge-right="40"
                :close-on-content-click="false"
                v-model="picker.startDate"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    hide-details
                    outlined
                    dense
                    readonly
                    prepend-inner-icon="mdi-calendar-month"
                    label="Date"
                    clearable
                    @click:clear="filters.startDate = ''"
                    v-model="filters.startDate"
                    v-on="on"
                  >
                  </v-text-field>
                </template>
                <v-date-picker
                  v-model="filters.startDate"
                  @input="picker.startDate = false"
                >
                </v-date-picker>
              </v-menu>
            </v-sheet>
          </v-card-title>
          <v-card-text>
            <v-row justify="center">
              <v-col cols="4" v-if="loading.barTrending">
                <div
                  class="text-center"
                  style="padding-top: 10rem; padding-bottom: 10rem"
                >
                  <p class="title primary--text mt-5 mb-5">Loading . . .</p>
                  <v-progress-linear
                    color="primary"
                    indeterminate
                    rounded
                    height="6"
                  >
                  </v-progress-linear>
                </div>
              </v-col>
              <v-col cols="12" v-if="!loading.barTrending">
                <div>
                  <apexchart
                    height="500"
                    :options="barTrending.chartOptions"
                    :series="barTrending.series"
                  >
                  </apexchart>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import dashboard from '@/mixins/dashboard';
export default {
  mixins: [dashboard],
  data() {
    return {
      picker: {
        startDate: false,
      },
      filters: {
        startDate: '',
      },
    };
  },
  mounted() {
    this.fetchBarTrending();
  },
};
</script>
