<template>
  <v-container class="py-0">
    <v-row justify="center" align="center" style="min-height: 100vh">
      <v-col cols="12" class="text-center">
        <span class="d-block text-center text-h2 mb-4"> 404 </span>
        <span class="d-block text-center body-1 my-4">
          Maaf, Data atau halaman Tidak Ditemukan!
        </span>
        <v-btn
          width="212"
          max-width="212"
          to="/"
          color="primary"
          class="text-capitalize mt-4"
        >
          Kembali ke beranda
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
