<template>
  <v-container class="py-0">
    <v-row justify="center" no-gutters align="center" style="min-height: 100vh">
      <v-col cols="12">
        <v-card
          width="90%"
          max-width="408"
          class="my-4 mx-auto"
          style="box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.2); z-index: 1"
        >
          <v-card-text>
            <ValidationObserver ref="observer">
              <v-form
                class="text-left mb-6"
                :readonly="loadingAuth"
                @submit.native.prevent="loginHandler"
              >
                <p class="body-2 mb-2">Username</p>
                <ValidationProvider
                  name="Username"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    :error-messages="errors"
                    v-model="form.username"
                    autofocus
                    dense
                    outlined
                    placeholder="Username"
                    @keyup.enter="loginHandler"
                  >
                  </v-text-field>
                </ValidationProvider>
                <p class="body-2 mb-2">Password</p>
                <ValidationProvider
                  name="Password"
                  rules="required|max:20"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    v-model="form.password"
                    :error-messages="errors"
                    class="mt-2 mb-1"
                    dense
                    outlined
                    placeholder="Password"
                    :type="show ? 'text' : 'password'"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show = !show"
                    :counter="20"
                    @keyup.enter="loginHandler"
                  >
                  </v-text-field>
                  <v-row dense align="center">
                    <v-col cols="6">
                      <v-text-field
                        hide-details
                        dense
                        outlined
                        placeholder="Captcha"
                      >
                      </v-text-field>
                    </v-col>
                    <v-col cols="6">
                      <v-img
                        max-height="40"
                        :src="require('@/img/captcha.png')"
                      ></v-img>
                    </v-col>
                  </v-row>
                </ValidationProvider>
                <v-checkbox hide-details label="Remember me"></v-checkbox>
              </v-form>
            </ValidationObserver>
            <div class="text-center mt-4 mb-4">
              <v-alert
                type="error"
                text
                dense
                v-show="error.message !== ''"
                v-html="error.message"
              >
              </v-alert>
              <v-btn
                block
                color="primary"
                :disabled="loadingAuth"
                :loading="loadingAuth"
                @click="loginHandler"
                class="text-capitalize"
              >
                Log In
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import auth from '@/mixins/auth';
export default {
  mixins: [auth],
  data() {
    return {
      show: false,
      form: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    async loginHandler() {
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          await this.login(this.form);
          this.$router.push('/dashboard');
        } catch (e) {
          // eslint-disable-next-line no-console
          console.error(e.message);
        }
      }
    },
  },
};
</script>
