<template>
  <div
    class="my-5"
    :class="
      $vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'
        ? 'pr-5 pl-2'
        : 'px-2'
    "
  >
    <v-row>
      <v-col cols="12">
        <Breadcrumbs :items="breadcrumbs" />
      </v-col>
      <v-col cols="12">
        <v-card flat>
          <v-card-title>
            <v-row align="center" justify="space-between">
              <v-col
                cols="12"
                md="5"
                class="d-flex flex-column-reverse flex-md-row align-md-center"
              >
                <div
                  class="d-flex my-2 align-center mr-md-2 text--secondary caption"
                >
                  <span class="mr-1">Show</span>
                  <v-select
                    style="width: 80px"
                    class="body-2 mx-1"
                    v-model="itemsPerPage"
                    outlined
                    single-line
                    hide-details
                    dense
                    :items="itemsPerPageOptions"
                  ></v-select>
                  <span class="ml-1">entries</span>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  class="body-2"
                  single-line
                  outlined
                  dense
                  hide-details
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="3" class="d-flex justify-end">
                <v-btn
                  color="primary"
                  outlined
                  class="text-capitalize mx-2"
                  exact
                  to="/role"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="primary"
                  exact
                  class="text-capitalize mx-2"
                  to="/role"
                >
                  Save
                </v-btn>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-skeleton-loader
              class="ma-auto"
              :loading="loadRoles"
              transition="fade-transition"
              :tile="false"
              type="table-row"
              v-for="index in loadRoles ? 10 : 1"
              :key="index"
            >
              <v-data-table
                v-show="roles.length >= 1"
                :headers="headers"
                mobile-breakpoint="1"
                hide-default-footer
                :items="roles"
                :page.sync="page"
                @page-count="pageCount = $event"
                :search="search"
                :items-per-page="itemsPerPage"
                fixed-header
                min-height="250px"
                :height="
                  $vuetify.breakpoint.name !== 'xs' ? 'calc(100vh - 52vh)' : ''
                "
              >
                <template v-slot:[`item.no`]="{ index }">
                  {{ index + 1 }}
                </template>
                <template v-slot:[`item.conf`]="{ item }">
                  {{ getConfig(item) }}
                </template>
                <template v-slot:[`item.create`]="{ item }">
                  <div class="d-flex justify-center">
                    <v-checkbox
                      v-model="item.create"
                      true-value="1"
                      false-value="0"
                    ></v-checkbox>
                  </div>
                </template>
                <template v-slot:[`item.update`]="{ item }">
                  <div class="d-flex justify-center">
                    <v-checkbox
                      v-model="item.update"
                      true-value="1"
                      false-value="0"
                    ></v-checkbox>
                  </div>
                </template>
                <template v-slot:[`item.delete`]="{ item }">
                  <div class="d-flex justify-center">
                    <v-checkbox
                      v-model="item.delete"
                      true-value="1"
                      false-value="0"
                    ></v-checkbox>
                  </div>
                </template>
                <template v-slot:[`item.view`]="{ item }">
                  <div class="d-flex justify-center">
                    <v-checkbox
                      v-model="item.view"
                      true-value="1"
                      false-value="0"
                    ></v-checkbox>
                  </div>
                </template>
              </v-data-table>
            </v-skeleton-loader>
            <div
              class="text-center text--secondary"
              v-show="!loadRoles && roles.length < 1"
            >
              <v-icon
                style="font-size: 60px; margin-top: 1.5em"
                color="primary"
              >
                mdi-close-circle-outline
              </v-icon>
              <p class="headline font-weight-bold mt-2 mb-1">Data Not Found</p>
              <p>Data you are looking for is not here</p>
            </div>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-row>
              <v-col
                v-if="roles.length > 0 && $vuetify.breakpoint.name !== 'xs'"
                cols="5"
              >
                <div class="body-2 font-weight-bold mt-4">
                  Total {{ roles.length }} data
                </div>
              </v-col>
              <v-col
                v-if="pageCount > 1"
                :cols="$vuetify.breakpoint.name !== 'xs' ? '7' : '12'"
              >
                <div class="float-sm-right">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    :total-visible="5"
                    color="primary"
                    circle
                  >
                  </v-pagination>
                </div>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import role from '@/mixins/role';
import Breadcrumbs from '@/components/Breadcrumbs';
export default {
  components: { Breadcrumbs },
  mixins: [role],
  data() {
    return {
      page: 1,
      pageCount: 0,
      search: '',
      itemsPerPage: 10,
      itemsPerPageOptions: [10, 20, 30, 50],
      headers: [
        {
          text: 'No',
          value: 'no',
          align: 'start',
          width: 60,
          sortable: false,
          class: 'text-uppercase body-2',
        },
        {
          text: 'Group',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'name',
        },
        {
          text: 'Config',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'conf',
        },
        {
          text: 'Insert',
          width: 40,
          align: 'center',
          sortable: false,
          class: 'text-uppercase body-2',
          value: 'create',
        },
        {
          text: 'Update',
          width: 40,
          align: 'center',
          sortable: false,
          class: 'text-uppercase body-2',
          value: 'update',
        },
        {
          text: 'Delete',
          width: 40,
          align: 'center',
          sortable: false,
          class: 'text-uppercase body-2',
          value: 'delete',
        },
        {
          text: 'View',
          width: 40,
          align: 'center',
          sortable: false,
          class: 'text-uppercase body-2',
          value: 'view',
        },
      ],
      breadcrumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
        },
        {
          text: 'Administration',
          disabled: true,
          to: '/',
        },
        {
          text: 'Role Management',
          disabled: false,
          to: '/role',
        },
        {
          text: 'Access Settings',
          disabled: true,
          to: '/',
        },
      ],
    };
  },
  mounted() {
    this.getRoles();
  },
  methods: {
    getConfig(item) {
      let conf = [];
      if (item.create * 1) conf.push('Insert');
      if (item.update * 1) conf.push('Update');
      if (item.delete * 1) conf.push('Delete');
      if (item.view * 1) conf.push('view');
      return conf.join(', ');
    },
  },
};
</script>
