<template>
  <div
    class="my-5"
    :class="
      $vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'
        ? 'pr-5 pl-2'
        : 'px-2'
    "
  >
    <v-dialog v-model="dialog.delete" scrollable persistent width="350">
      <v-card>
        <v-card-title class="primary white--text">
          <v-icon color="white" class="mr-2">mdi-information</v-icon>
          Information
          <v-btn class="mt-n1" icon dark top right absolute @click="reset">
            <v-icon color="primary lighten-1">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6">
          <p class="ma-0 body-1">
            Are you sure want to delete
            <span class="font-weight-bold">
              {{ detail.name }}
            </span>
            ?
          </p>
          <v-alert
            v-if="error.message"
            text
            type="error"
            class="custom-alert my-4"
          >
            <p class="body-2 mb-0">
              {{ error.message }}
            </p>
          </v-alert>
        </v-card-text>
        <v-card-actions class="pb-6 px-6">
          <v-spacer></v-spacer>
          <v-btn
            small
            text
            color="red"
            elevation="0"
            :disabled="loadFormRole"
            class="text-capitalize"
            @click="deleteHandler(detail.id)"
          >
            Delete
          </v-btn>
          <v-btn
            small
            light
            color="primary"
            elevation="0"
            :disabled="loadFormRole"
            @click="reset"
            class="white--text text-capitalize"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.create" persistent scrollable max-width="400">
      <v-card>
        <v-card-title class="primary white--text">
          <v-icon color="white" class="mr-2">
            mdi-iframe-variable-outline
          </v-icon>
          {{ selectedPage === 'update' ? 'Edit' : 'Add' }}
          Group
          <v-btn class="mt-n1" icon dark top right absolute @click="reset">
            <v-icon color="primary lighten-1">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6">
          <ValidationObserver ref="observer">
            <v-form ref="form" :readonly="loadFormRole">
              <p class="caption mb-2">Name</p>
              <ValidationProvider
                name="Name"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  dense
                  outlined
                  placeholder="Group Name"
                  v-model="form.name"
                  :error-messages="errors"
                >
                </v-text-field>
              </ValidationProvider>
              <p class="caption mb-2">Access</p>
              <v-row no-gutters>
                <v-col cols="6">
                  <v-checkbox
                    v-model="form.create"
                    label="Insert"
                    value="1"
                    hide-details
                  ></v-checkbox>
                </v-col>
                <v-col cols="6">
                  <v-checkbox
                    v-model="form.update"
                    label="Update"
                    value="1"
                    hide-details
                  ></v-checkbox>
                </v-col>
                <v-col cols="6">
                  <v-checkbox
                    v-model="form.view"
                    label="View"
                    value="1"
                    hide-details
                  ></v-checkbox>
                </v-col>
                <v-col cols="6">
                  <v-checkbox
                    v-model="form.delete"
                    label="Delete"
                    value="1"
                    hide-details
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-form>
          </ValidationObserver>
          <v-alert
            v-if="error.message"
            text
            type="error"
            class="custom-alert my-4"
          >
            <p class="body-2 mb-0">
              {{ error.message }}
            </p>
          </v-alert>
        </v-card-text>
        <v-card-actions class="pb-6 px-6">
          <v-spacer></v-spacer>
          <v-btn
            small
            color="#fff"
            elevation="0"
            :disabled="loadFormRole"
            class="text-capitalize grey--text text--darken-1"
            @click="reset"
          >
            Cancel
          </v-btn>
          <v-btn
            small
            color="primary"
            elevation="0"
            :disabled="loadFormRole"
            :loading="loadFormRole"
            @click="save"
            class="text-capitalize"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col cols="12">
        <Breadcrumbs :items="breadcrumbs" />
      </v-col>
      <v-col cols="12">
        <v-card flat>
          <v-card-title>
            <v-row align="center" justify="space-between">
              <v-col
                cols="12"
                md="8"
                class="d-flex flex-column-reverse flex-md-row align-md-center"
              >
                <div
                  class="d-flex my-2 align-center mr-md-2 text--secondary caption"
                >
                  <span class="mr-1">Show</span>
                  <v-select
                    style="width: 80px"
                    class="body-2 mx-1"
                    v-model="itemsPerPage"
                    outlined
                    single-line
                    hide-details
                    dense
                    :items="itemsPerPageOptions"
                  ></v-select>
                  <span class="ml-1">entries</span>
                </div>
                <v-btn
                  :block="$vuetify.breakpoint.name === 'xs'"
                  color="primary"
                  class="text-capitalize mx-md-2 my-2"
                  elevation="2"
                  @click.stop="dialog.create = true"
                >
                  <v-icon small>mdi-plus</v-icon> Group
                </v-btn>
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  class="body-2"
                  single-line
                  outlined
                  dense
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-skeleton-loader
              class="ma-auto"
              :loading="loadRoles"
              transition="fade-transition"
              :tile="false"
              type="table-row"
              v-for="index in loadRoles ? 10 : 1"
              :key="index"
            >
              <v-data-table
                v-show="roles.length >= 1"
                :headers="headers"
                mobile-breakpoint="1"
                hide-default-footer
                :items="roles"
                :page.sync="page"
                @page-count="pageCount = $event"
                :search="search"
                :items-per-page="itemsPerPage"
                fixed-header
                min-height="250px"
                :height="
                  $vuetify.breakpoint.name !== 'xs' ? 'calc(100vh - 52vh)' : ''
                "
              >
                <template v-slot:[`item.no`]="{ index }">
                  {{ index + 1 }}
                </template>
                <template v-slot:[`item.aksi`]="{ item }">
                  <v-btn
                    small
                    outlined
                    color="primary"
                    elevation="0"
                    class="text-capitalize white--text ma-1"
                    @click="updateHandler(item)"
                  >
                    Edit
                  </v-btn>
                  <v-btn
                    small
                    outlined
                    color="primary"
                    elevation="0"
                    class="text-capitalize white--text ma-1"
                    to="/role/access"
                  >
                    Access Settings
                  </v-btn>
                  <v-btn
                    small
                    outlined
                    color="red"
                    elevation="0"
                    class="text-capitalize white--text ma-1"
                    @click="
                      detail = item;
                      dialog.delete = true;
                    "
                  >
                    Delete
                  </v-btn>
                </template>
              </v-data-table>
            </v-skeleton-loader>
            <div
              class="text-center text--secondary"
              v-show="!loadRoles && roles.length < 1"
            >
              <v-icon
                style="font-size: 60px; margin-top: 1.5em"
                color="primary"
              >
                mdi-close-circle-outline
              </v-icon>
              <p class="headline font-weight-bold mt-2 mb-1">Data Not Found</p>
              <p>Data you are looking for is not here</p>
            </div>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-row>
              <v-col
                v-if="roles.length > 0 && $vuetify.breakpoint.name !== 'xs'"
                cols="5"
              >
                <div class="body-2 font-weight-bold mt-4">
                  Total {{ roles.length }} data
                </div>
              </v-col>
              <v-col
                v-if="pageCount > 1"
                :cols="$vuetify.breakpoint.name !== 'xs' ? '7' : '12'"
              >
                <div class="float-sm-right">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    :total-visible="5"
                    color="primary"
                    circle
                  >
                  </v-pagination>
                </div>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import role from '@/mixins/role';
import Breadcrumbs from '@/components/Breadcrumbs';
export default {
  components: { Breadcrumbs },
  mixins: [role],
  data() {
    return {
      selectedPage: '',
      detail: {},
      dialog: {
        delete: false,
        create: false,
      },
      form: {
        id: '',
        name: '',
        create: '0',
        update: '0',
        delete: '0',
        view: '0',
      },
      page: 1,
      pageCount: 0,
      search: '',
      itemsPerPage: 10,
      itemsPerPageOptions: [10, 20, 30, 50],
      headers: [
        {
          text: 'No',
          value: 'no',
          align: 'start',
          width: 60,
          sortable: false,
          class: 'text-uppercase body-2',
        },
        {
          text: 'Group Name',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'name',
        },
        {
          text: 'Aksi',
          value: 'aksi',
          align: 'center',
          width: 200,
          sortable: false,
          class: 'text-uppercase body-2',
        },
      ],
      breadcrumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
        },
        {
          text: 'Administration',
          disabled: true,
          to: '/',
        },
        {
          text: 'Role Management',
          disabled: true,
          to: '/',
        },
      ],
    };
  },
  mounted() {
    this.getRoles();
  },
  methods: {
    updateHandler(item) {
      this.selectedPage = 'update';
      this.form = {
        id: item.id,
        name: item.name,
        create: item.create,
        update: item.update,
        delete: item.delete,
        view: item.view,
      };
      this.dialog.create = true;
    },
    reset() {
      this.clearError();
      if (this.$refs.observer) this.$refs.observer.reset();
      this.dialog = {
        delete: false,
        create: false,
      };
      this.form = {
        id: '',
        name: '',
        create: '0',
        update: '0',
        delete: '0',
        view: '0',
      };
      this.selectedPage = '';
      this.detail = {};
    },
    async deleteHandler(id) {
      this.clearError();
      try {
        await this.deleteRole(id);
        this.page = 1;
        this.reset();
        this.$toast.success('Delete Success!');
        await this.getRoles();
      } catch (e) {
        this.$toast.error(e.message);
      }
    },
    async save() {
      this.clearError();
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          if (this.form.id) {
            await this.updateRole(this.form, this.form.id);
          } else {
            await this.createRole(this.form);
          }
          this.page = 1;
          this.reset();
          this.$toast.success('Data saved successfully!');
          await this.getRoles();
        } catch (e) {
          this.$toast.error(e.message);
        }
      }
    },
  },
};
</script>
