<template>
  <div
    class="my-5"
    :class="
      $vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'
        ? 'pr-5 pl-2'
        : 'px-2'
    "
  >
    <v-row>
      <v-col cols="12">
        <Breadcrumbs :items="breadcrumbs" />
      </v-col>
      <v-col cols="12">
        <v-card flat>
          <v-row
            justify="center"
            align="center"
            style="min-height: 400px"
            v-if="loadMenu"
          >
            <v-col cols="12" class="d-flex align-center">
              <v-card flat class="ma-auto">
                <v-card-title class="justify-center">
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="grey"
                    indeterminate
                  >
                  </v-progress-circular>
                </v-card-title>
                <v-card-text class="subtitle-1 text-center text-second">
                  Loading
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card v-if="!loadMenu" flat>
          <v-card-text>
            <ValidationObserver ref="observer">
              <v-form class="text-left mb-6" :readonly="loadFormMenu">
                <v-row dense>
                  <v-col cols="12" class="d-flex justify-end align-center py-0">
                    <span class="mr-4"> Enabled </span>
                    <v-switch
                      v-model="form.isActive"
                      hide-details
                      class="mt-0"
                      dense
                      inset
                      true-value="1"
                      false-value="0"
                      :label="form.isActive ? 'Active' : 'Inactive'"
                    ></v-switch>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Menu</p>
                    <ValidationProvider
                      name="name"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.name"
                        dense
                        outlined
                        placeholder="Menu Name"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Folder</p>
                    <ValidationProvider
                      name="folder"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.folder"
                        dense
                        outlined
                        placeholder="Folder Name"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Level</p>
                    <ValidationProvider
                      name="Level"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-select
                        :error-messages="errors"
                        v-model="form.level"
                        dense
                        outlined
                        :items="['Top Level', 'Middle Level']"
                        placeholder="Top Level"
                      >
                      </v-select>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Sorting</p>
                    <ValidationProvider
                      name="Sorting"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.sorting"
                        dense
                        outlined
                        placeholder="Sorting"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-row no-gutters>
                      <v-col cols="12">
                        <p class="caption mb-2">Icon</p>
                        <ValidationProvider
                          name="icon"
                          rules="required"
                          v-slot="{ errors }"
                        >
                          <v-text-field
                            :error-messages="errors"
                            v-model="form.icon"
                            dense
                            outlined
                            placeholder="Icon"
                          >
                          </v-text-field>
                        </ValidationProvider>
                      </v-col>
                      <v-col cols="12">
                        <p class="caption mb-0">Config</p>
                        <v-row no-gutters>
                          <v-col>
                            <v-checkbox
                              v-model="form.create"
                              label="Insert"
                              value="1"
                              hide-details
                            ></v-checkbox>
                          </v-col>
                          <v-col>
                            <v-checkbox
                              v-model="form.update"
                              label="Update"
                              value="1"
                              hide-details
                            ></v-checkbox>
                          </v-col>
                          <v-col>
                            <v-checkbox
                              v-model="form.view"
                              label="View"
                              value="1"
                              hide-details
                            ></v-checkbox>
                          </v-col>
                          <v-col>
                            <v-checkbox
                              v-model="form.delete"
                              label="Delete"
                              value="1"
                              hide-details
                            ></v-checkbox>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Description</p>
                    <ValidationProvider
                      name="description"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-textarea
                        :error-messages="errors"
                        v-model="form.description"
                        dense
                        outlined
                        placeholder="Description"
                      >
                      </v-textarea>
                    </ValidationProvider>
                  </v-col>
                </v-row>
              </v-form>
            </ValidationObserver>
          </v-card-text>
          <v-card-actions>
            <v-row>
              <v-col cols="12" class="d-flex justify-end">
                <v-btn
                  color="primary"
                  outlined
                  class="text-capitalize mx-2"
                  exact
                  to="/menu"
                  :disabled="loadFormMenu"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="primary"
                  class="text-capitalize mx-2"
                  :loading="loadFormMenu"
                  @click="save"
                >
                  Save
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import menu from '@/mixins/menu';
import Breadcrumbs from '@/components/Breadcrumbs';
export default {
  components: { Breadcrumbs },
  mixins: [menu],
  data() {
    return {
      show: false,
      form: {
        name: '',
        level: '',
        folder: '',
        parent: '',
        description: '',
        isActive: '1',
        sorting: '',
        icon: '',
        create: '0',
        update: '0',
        delete: '0',
        view: '0',
      },
      breadcrumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
        },
        {
          text: 'Administration',
          disabled: true,
          to: '/',
        },
        {
          text: 'Menu Management',
          disabled: false,
          to: '/menu',
        },
      ],
    };
  },
  async mounted() {
    if (this.$route.params.id) {
      this.breadcrumbs.push({
        text: 'Update Menu',
        disabled: true,
        to: '/',
      });
      const menu = await this.getMenu(this.$route.params.id);
      this.form = {
        name: menu.name,
        level: menu.level,
        folder: menu.folder,
        parent: menu.parent,
        description: menu.description,
        isActive: menu.isActive,
        sorting: menu.sorting,
        icon: menu.icon,
        create: menu.create,
        update: menu.update,
        delete: menu.delete,
        view: menu.view,
      };
    } else {
      this.breadcrumbs.push({
        text: 'Add Menu',
        disabled: true,
        to: '/',
      });
    }
  },
  methods: {
    async save() {
      this.clearError();
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          if (this.$route.params.id) {
            await this.updateMenu(this.form, this.$route.params.id);
          } else {
            await this.createMenu(this.form);
          }
          this.$router.push('/menu');
          this.$toast.success('Data Saved!');
        } catch (e) {
          this.$toast.error(e.message);
        }
      } else {
        this.$toast.error('Please complete the Form!');
      }
    },
  },
};
</script>
