/* SCROLL */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #f0f0f0;
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4765b6;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

/* HREF */
a:-webkit-any-link {
  text-decoration: none;
}

/* CURSOR */
.cursor-pointer {
  cursor: pointer;
}

/* LINE */
.line-text {
  line-height: 1.5 !important;
}

.v-toast__item {
  max-width: 400px;
}
.v-toast__text {
  font-family: Roboto, sans-serif;
}
