<template>
  <div
    class="my-5"
    :class="
      $vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'
        ? 'pr-5 pl-2'
        : 'px-2'
    "
  >
    <v-row>
      <v-col cols="12">
        <Breadcrumbs :items="breadcrumbs" />
      </v-col>
      <v-col cols="12">
        <v-card flat>
          <v-row
            justify="center"
            align="center"
            style="min-height: 400px"
            v-if="loadUser"
          >
            <v-col cols="12" class="d-flex align-center">
              <v-card flat class="ma-auto">
                <v-card-title class="justify-center">
                  <v-progress-circular
                    :size="70"
                    :width="7"
                    color="grey"
                    indeterminate
                  >
                  </v-progress-circular>
                </v-card-title>
                <v-card-text class="subtitle-1 text-center text-second">
                  Loading
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card v-if="!loadUser" flat>
          <v-card-title class="body-1 text--secondary">
            User Information
          </v-card-title>
          <v-card-text>
            <ValidationObserver ref="observer">
              <v-form class="text-left mb-6" :readonly="loadFormUser">
                <v-row>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Fullname</p>
                    <ValidationProvider
                      name="fullname"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.fullname"
                        dense
                        outlined
                        placeholder="Full Name"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">NIK</p>
                    <ValidationProvider
                      name="NIK"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.nik"
                        dense
                        outlined
                        placeholder="NIK"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Department</p>
                    <ValidationProvider
                      name="department"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.department"
                        dense
                        outlined
                        placeholder="Department Name"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Phone Number</p>
                    <ValidationProvider
                      name="Phone"
                      rules="required|min:8|max:13"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.phone"
                        dense
                        outlined
                        type="number"
                        placeholder="08xxxxxxxxx"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Email</p>
                    <ValidationProvider
                      name="email"
                      rules="required|email"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.email"
                        dense
                        outlined
                        placeholder="Email"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                </v-row>
                <v-divider class="my-3 mb-6"></v-divider>
                <v-row dense>
                  <v-col cols="12">
                    <span class="body-1 text--secondary">
                      User Account Data
                    </span>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Username</p>
                    <ValidationProvider
                      name="username"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        :error-messages="errors"
                        v-model="form.username"
                        dense
                        outlined
                        placeholder="Username"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Block Status</p>
                    <ValidationProvider
                      name="status"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-switch
                        :error-messages="errors"
                        v-model="form.status"
                        dense
                        inset
                        :label="!form.status ? 'Unblocked' : 'Blocked'"
                      ></v-switch>
                    </ValidationProvider>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">Password</p>
                    <ValidationProvider
                      name="password"
                      :rules="
                        this.$route.params.id
                          ? 'max:20|min:6'
                          : 'required|max:20|min:6'
                      "
                      v-slot="{ errors }"
                    >
                      <v-text-field
                        v-model="form.password"
                        :error-messages="errors"
                        class="mt-2 mb-1"
                        dense
                        outlined
                        placeholder="Password"
                        :type="show ? 'text' : 'password'"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="show = !show"
                        :counter="20"
                      >
                      </v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12" md="6">
                    <p class="caption mb-2">User Role</p>
                    <ValidationProvider
                      name="Role"
                      rules="required"
                      v-slot="{ errors }"
                    >
                      <v-select
                        :error-messages="errors"
                        dense
                        placeholder="Choose User Role"
                        outlined
                        :items="roles"
                        item-text="name"
                        return-object
                        v-model="form.role"
                      />
                    </ValidationProvider>
                  </v-col>
                </v-row>
              </v-form>
            </ValidationObserver>
          </v-card-text>
          <v-card-actions>
            <v-row>
              <v-col cols="12" class="d-flex justify-end">
                <v-btn
                  color="primary"
                  outlined
                  class="text-capitalize mx-2"
                  exact
                  to="/user"
                  :disabled="loadFormUser"
                >
                  Cancel
                </v-btn>
                <v-btn
                  color="primary"
                  class="text-capitalize mx-2"
                  :loading="loadFormUser"
                  @click="save"
                >
                  Save
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import user from '@/mixins/user';
import role from '@/mixins/role';
import Breadcrumbs from '@/components/Breadcrumbs';
export default {
  components: { Breadcrumbs },
  mixins: [user, role],
  data() {
    return {
      show: false,
      form: {
        username: '',
        fullname: '',
        nik: '',
        phone: '',
        email: '',
        status: false,
        password: '',
        department: '',
        role: null,
      },
      breadcrumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
        },
        {
          text: 'Administration',
          disabled: true,
          to: '/',
        },
        {
          text: 'User Management',
          disabled: false,
          to: '/user',
        },
      ],
    };
  },
  async mounted() {
    if (this.$route.params.id) {
      this.breadcrumbs.push({
        text: 'Update User',
        disabled: true,
        to: '/',
      });
      const user = await this.getUser(this.$route.params.id);
      this.form = {
        username: user.username,
        fullname: user.fullname,
        nik: user.nik,
        phone: user.phone,
        email: user.email,
        status: user.status === 'blocked',
        password: '',
        department: user.department,
        role: user.role,
      };
    } else {
      this.breadcrumbs.push({
        text: 'Add User',
        disabled: true,
        to: '/',
      });
    }
    this.getRoles();
  },
  methods: {
    async save() {
      this.clearError();
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          if (this.$route.params.id) {
            await this.updateUser(this.form, this.$route.params.id);
          } else {
            await this.createUser(this.form);
          }
          this.$router.push('/user');
          this.$toast.success('Data Saved!');
        } catch (e) {
          this.$toast.error(e.message);
        }
      } else {
        this.$toast.error('Please complete the Form!');
      }
    },
  },
};
</script>
