<template>
  <div class="d-flex flex-column flex-md-row align-center">
    <span class="body-1 text-lg-h5 mr-3">
      {{ $route.meta.title }}
    </span>
    <v-divider vertical class="mx-2 d-none d-md-block"></v-divider>
    <v-breadcrumbs :items="items" class="body-1 py-2 px-3">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item :to="item.to" exact :disabled="item.disabled">
          <template v-if="item.text === 'Home'">
            <v-icon color="primary" size="20">mdi-home-outline</v-icon>
          </template>
          <template v-if="item.text !== 'Home'">
            {{ item.text }}
          </template>
        </v-breadcrumbs-item>
      </template>
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>
