<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="miniVariant"
      :absolute="$vuetify.breakpoint.name === 'xl'"
      :fixed="$vuetify.breakpoint.name !== 'xl'"
      app
      class="ma-3"
      style="z-index: 8; border-radius: 15px; max-height: calc(100% - 74px)"
    >
      <v-list :class="{ 'px-3': !miniVariant }">
        <v-list-item exact>
          <v-list-item-action
            :class="{
              minivariant: !miniVariant,
            }"
            class="mr-0"
          >
            <v-icon color="primary" @click.stop="miniVariantHandler">
              mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}
            </v-icon>
          </v-list-item-action>
        </v-list-item>
        <v-tooltip
          right
          v-for="(item, i) in menu"
          :key="i"
          transition="scroll-x-transition"
        >
          <template v-slot:activator="{ on, attrs }">
            <template v-if="item.children && item.children.length > 0">
              <v-list-group
                v-bind="miniVariant ? attrs : ''"
                v-on="miniVariant ? on : ''"
                :value="!miniVariant"
                @click.prevent="drawer ? miniVariantHandler : ''"
              >
                <template v-slot:activator>
                  <v-list-item-action>
                    <v-icon
                      :color="item.link === $route.path ? 'white' : 'primary'"
                    >
                      {{ item.icon }}
                    </v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title
                      class="body-2 primary--text"
                      v-text="item.label"
                    />
                  </v-list-item-content>
                </template>
                <v-tooltip
                  right
                  v-for="(child, iChildMenu) in item.children"
                  :key="iChildMenu"
                  transition="scroll-x-transition"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-list-item
                      :class="{ 'ml-3': !miniVariant }"
                      v-bind="miniVariant ? attrs : ''"
                      v-on="miniVariant ? on : ''"
                      :to="child.link"
                      router
                      exact
                      active-class="primary"
                      @click="selected = child.link"
                    >
                      <v-list-item-action>
                        <v-icon
                          small
                          :color="
                            child.link === $route.path ? 'white' : 'primary'
                          "
                        >
                          {{ child.icon }}
                        </v-icon>
                      </v-list-item-action>
                      <v-list-item-content>
                        <v-list-item-title
                          class="body-2"
                          :class="
                            child.link === $route.path
                              ? 'white--text'
                              : 'primary--text'
                          "
                          v-text="child.label"
                        />
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                  <span v-text="child.label" />
                </v-tooltip>
              </v-list-group>
            </template>
            <v-list-item
              v-else
              v-bind="miniVariant ? attrs : ''"
              v-on="miniVariant ? on : ''"
              :to="item.link"
              router
              exact
              active-class="primary"
              @click="selected = item.link"
            >
              <v-list-item-action>
                <v-icon
                  :color="item.link === $route.path ? 'white' : 'primary'"
                >
                  {{ item.icon }}
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title
                  class="body-2"
                  :class="
                    item.link === $route.path ? 'white--text' : 'primary--text'
                  "
                  v-text="item.label"
                />
              </v-list-item-content>
            </v-list-item>
          </template>
          <span v-text="item.label" />
        </v-tooltip>
      </v-list>
      <template v-slot:append>
        <v-list :class="!miniVariant ? 'pl-3' : 'pl-0'">
          <v-tooltip right transition="scroll-x-transition">
            <template v-slot:activator="{ on, attrs }">
              <v-list-item
                v-bind="miniVariant ? attrs : ''"
                v-on="miniVariant ? on : ''"
                router
                exact
                @click="logout"
              >
                <v-list-item-action>
                  <v-icon color="primary">mdi-logout</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title
                    class="caption primary--text text-darken-1"
                  >
                    Log Out
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <span>Log Out</span>
          </v-tooltip>
        </v-list>
      </template>
    </v-navigation-drawer>
    <v-app-bar
      :absolute="$vuetify.breakpoint.name === 'xl'"
      :fixed="$vuetify.breakpoint.name !== 'xl'"
      app
      color="white"
      elevation="0"
      class="mt-lg-5 ml-lg-5 mr-lg-5"
    >
      <v-app-bar-nav-icon v-if="isMobile()" @click.stop="drawer = !drawer" />
      <v-spacer />
      <div class="d-flex align-center">
        <v-card flat class="mx-2 d-none d-lg-block" @click="changeLanguage">
          <div class="d-flex px-2 align-center">
            <v-img
              contain
              max-width="24"
              :src="require('@/assets/icons/united-kingdom.svg')"
            ></v-img>
            <div class="px-2 text--secondary">
              <span class="body-2">English</span>
            </div>
          </div>
        </v-card>
        <v-btn small icon class="mx-2 d-none d-lg-block">
          <v-icon>mdi-weather-night</v-icon>
        </v-btn>
        <v-btn small icon class="mx-2 d-none d-lg-block">
          <v-icon>mdi-calendar-month</v-icon>
        </v-btn>
        <v-badge
          class="mx-2"
          bordered
          overlap
          color="error"
          :content="1"
          :value="1"
        >
          <v-btn small icon>
            <v-icon>mdi-bell-outline</v-icon>
          </v-btn>
        </v-badge>
        <v-menu
          close-on-content-click
          bottom
          left
          rounded
          min-width="200px"
          :nudge-width="200"
          offset-y
        >
          <template v-slot:activator="{ on: vMenu, attrs }">
            <v-card v-bind="attrs" v-on="{ ...vMenu }" flat class="ml-2">
              <div class="d-flex px-2 align-center">
                <div class="d-flex flex-column px-2 text--secondary text-right">
                  <span class="font-weight-black body-2">{{
                    user.fullname
                  }}</span>
                  <span class="caption">
                    {{ user.role.name || '-' }}
                  </span>
                </div>
                <v-avatar
                  color="grey lighten-1"
                  :size="$vuetify.breakpoint.name === 'xs' ? 32 : 38"
                >
                  <v-img :src="user.avatar" :alt="user.fullname" />
                </v-avatar>
              </div>
            </v-card>
          </template>
          <v-card>
            <v-list flat dense class="py-0">
              <v-list-item-group color="primary">
                <v-list-item color="primary">
                  <v-list-item-icon>
                    <v-icon>mdi-account-outline</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>My Profil</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item color="primary">
                  <v-list-item-icon>
                    <v-icon>mdi-lock-alert-outline</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>Change Password</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
            <v-divider />
            <v-list flat dense class="py-0">
              <v-list-item-group color="primary">
                <v-list-item color="primary" @click="logout">
                  <v-list-item-icon>
                    <v-icon color="primary">mdi-logout</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title class="primary--text">
                      Log Out
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-menu>
      </div>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      miniVariant: false,
      selected: '',
      menu: [],
      count: 0,
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  mounted() {
    this.fetch();
    if (
      /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
        navigator.userAgent
      )
    ) {
      this.miniVariant = false;
      this.drawer = false;
    } else {
      this.drawer = true;
    }
  },
  methods: {
    changeLanguage() {},
    miniVariantHandler() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        this.drawer = !this.drawer;
      } else {
        this.miniVariant = !this.miniVariant;
      }
    },
    fetch() {
      if (this.user.role.name === 'hr') {
        this.selected = '/dashboard';
        this.menu = [
          {
            label: 'Dashboard',
            icon: 'mdi-chart-bar',
            link: '/dashboard',
          },
          {
            label: 'Administration',
            icon: 'mdi-clipboard-text-multiple-outline',
            children: [
              {
                label: 'Session Management',
                icon: 'mdi-checkbox-blank-circle-outline',
                link: '/session',
              },
            ],
          },
        ];
      } else if (this.user.role.name === 'admin') {
        this.selected = '/dashboard';
        this.menu = [
          {
            label: 'Dashboard',
            icon: 'mdi-chart-bar',
            link: '/dashboard',
          },
          {
            label: 'Administration',
            icon: 'mdi-clipboard-text-multiple-outline',
            children: [
              {
                label: 'User Management',
                icon: 'mdi-checkbox-blank-circle-outline',
                link: '/user',
              },
              {
                label: 'Role Management',
                icon: 'mdi-checkbox-blank-circle-outline',
                link: '/role',
              },
              {
                label: 'Menu Management',
                icon: 'mdi-checkbox-blank-circle-outline',
                link: '/menu',
              },
              {
                label: 'Session Management',
                icon: 'mdi-checkbox-blank-circle-outline',
                link: '/session',
              },
              {
                label: 'Variable Parameters',
                icon: 'mdi-checkbox-blank-circle-outline',
                link: '/variable',
              },
              {
                label: 'Log Activity',
                icon: 'mdi-checkbox-blank-circle-outline',
                link: '/log',
              },
            ],
          },
        ];
      } else {
        this.selected = '/dashboard';
        this.menu = [
          {
            label: 'Dashboard',
            icon: 'mdi-chart-bar',
            link: '/dashboard',
          },
        ];
      }
    },
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      } else {
        return false;
      }
    },
    async logout() {
      try {
        await this.$store.dispatch('logout');
        this.$router.push('/login');
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e);
      }
    },
  },
};
</script>

<style scoped>
.minivariant {
  position: absolute;
  right: 0;
  top: 0;
}
</style>
