<template>
  <div
    class="my-5"
    :class="
      $vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'
        ? 'pr-5 pl-2'
        : 'px-2'
    "
  >
    <v-dialog v-model="dialog.delete" scrollable persistent width="350">
      <v-card>
        <v-card-title class="primary white--text">
          <v-icon color="white" class="mr-2">mdi-information</v-icon>
          Information
          <v-btn class="mt-n1" icon dark top right absolute @click="reset">
            <v-icon color="primary lighten-1">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6">
          <p class="ma-0 body-1">
            Are you sure want to delete Parameter ID
            <span class="font-weight-bold">
              {{ detail.varId }}
            </span>
            ?
          </p>
          <v-alert
            v-if="error.message"
            text
            type="error"
            class="custom-alert my-4"
          >
            <p class="body-2 mb-0">
              {{ error.message }}
            </p>
          </v-alert>
        </v-card-text>
        <v-card-actions class="pb-6 px-6">
          <v-spacer></v-spacer>
          <v-btn
            small
            text
            color="red"
            elevation="0"
            :disabled="loadFormVariable"
            class="text-capitalize"
            @click="deleteHandler(detail.id)"
          >
            Delete
          </v-btn>
          <v-btn
            small
            light
            color="primary"
            elevation="0"
            :disabled="loadFormVariable"
            @click="reset"
            class="white--text text-capitalize"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.create" persistent scrollable max-width="400">
      <v-card>
        <v-card-title class="primary white--text">
          <v-icon color="white" class="mr-2">
            mdi-iframe-variable-outline
          </v-icon>
          {{ selectedPage === 'update' ? 'Edit' : 'Add' }}
          Parameter
          <v-btn class="mt-n1" icon dark top right absolute @click="reset">
            <v-icon color="primary lighten-1">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6">
          <ValidationObserver ref="observer">
            <v-form ref="form" :readonly="loadFormVariable">
              <p class="caption mb-2">Parameter ID</p>
              <ValidationProvider
                name="varId"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  dense
                  outlined
                  placeholder="Parameter ID"
                  v-model="form.varId"
                  :error-messages="errors"
                >
                </v-text-field>
              </ValidationProvider>
              <p class="caption mb-2">Tabs</p>
              <ValidationProvider
                name="Tabs"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  dense
                  outlined
                  placeholder="Tabs"
                  v-model="form.tabs"
                  :error-messages="errors"
                >
                </v-text-field>
              </ValidationProvider>
              <p class="caption mb-2">Parameters</p>
              <ValidationProvider
                name="parameters"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  dense
                  outlined
                  placeholder="Parameters"
                  v-model="form.parameters"
                  :error-messages="errors"
                >
                </v-text-field>
              </ValidationProvider>
              <p class="caption mb-2">Description</p>
              <ValidationProvider
                name="Description"
                rules="required"
                v-slot="{ errors }"
              >
                <v-textarea
                  outlined
                  dense
                  placeholder="Description"
                  v-model="form.description"
                  :error-messages="errors"
                >
                </v-textarea>
              </ValidationProvider>
            </v-form>
          </ValidationObserver>
          <v-alert
            v-if="error.message"
            text
            type="error"
            class="custom-alert my-4"
          >
            <p class="body-2 mb-0">
              {{ error.message }}
            </p>
          </v-alert>
        </v-card-text>
        <v-card-actions class="pb-6 px-6">
          <v-spacer></v-spacer>
          <v-btn
            small
            color="#fff"
            elevation="0"
            :disabled="loadFormVariable"
            class="text-capitalize grey--text text--darken-1"
            @click="reset"
          >
            Cancel
          </v-btn>
          <v-btn
            small
            color="primary"
            elevation="0"
            :disabled="loadFormVariable"
            :loading="loadFormVariable"
            @click="save"
            class="text-capitalize"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col cols="12">
        <Breadcrumbs :items="breadcrumbs" />
      </v-col>
      <v-col cols="12">
        <v-card flat>
          <v-card-title>
            <v-row align="center" justify="space-between">
              <v-col
                cols="12"
                md="8"
                class="d-flex flex-column-reverse flex-md-row align-md-center"
              >
                <div
                  class="d-flex my-2 align-center mr-md-2 text--secondary caption"
                >
                  <span class="mr-1">Show</span>
                  <v-select
                    style="width: 80px"
                    class="body-2 mx-1"
                    v-model="itemsPerPage"
                    outlined
                    single-line
                    hide-details
                    dense
                    :items="itemsPerPageOptions"
                  ></v-select>
                  <span class="ml-1">entries</span>
                </div>
                <v-btn
                  :block="$vuetify.breakpoint.name === 'xs'"
                  color="primary"
                  class="text-capitalize mx-md-2 my-2"
                  elevation="2"
                  @click.stop="dialog.create = true"
                >
                  <v-icon small>mdi-plus</v-icon> Parameter
                </v-btn>
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  class="body-2"
                  single-line
                  outlined
                  dense
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-skeleton-loader
              class="ma-auto"
              :loading="loadVariables"
              transition="fade-transition"
              :tile="false"
              type="table-row"
              v-for="index in loadVariables ? 10 : 1"
              :key="index"
            >
              <v-data-table
                v-show="variables.length >= 1"
                :headers="headers"
                mobile-breakpoint="1"
                hide-default-footer
                :items="variables"
                :page.sync="page"
                @page-count="pageCount = $event"
                :search="search"
                :items-per-page="itemsPerPage"
                fixed-header
                min-height="250px"
                :height="
                  $vuetify.breakpoint.name !== 'xs' ? 'calc(100vh - 52vh)' : ''
                "
              >
                <template v-slot:[`item.no`]="{ index }">
                  {{ index + 1 }}
                </template>
                <template v-slot:[`item.aksi`]="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        small
                        outlined
                        color="primary"
                        elevation="0"
                        class="text-capitalize white--text ma-1"
                        v-bind="attrs"
                        v-on="on"
                        @click="updateHandler(item)"
                      >
                        <v-icon small>mdi-square-edit-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Edit</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        small
                        outlined
                        color="red"
                        elevation="0"
                        class="text-capitalize white--text ma-1"
                        v-bind="attrs"
                        v-on="on"
                        @click="
                          detail = item;
                          dialog.delete = true;
                        "
                      >
                        <v-icon small>mdi-trash-can-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Delete</span>
                  </v-tooltip>
                </template>
                <template v-slot:[`item.createdAt`]="{ item }">
                  <span v-if="item.createdAt !== ''">
                    {{ item.createdAt | date }}
                  </span>
                  <span v-else> - </span>
                </template>
                <template v-slot:[`item.lastLogin`]="{ item }">
                  <span v-if="item.lastLogin !== ''">
                    {{ item.lastLogin | datetime }}
                  </span>
                  <span v-else> - </span>
                </template>
                <template v-slot:[`item.lastActive`]="{ item }">
                  <span v-if="item.lastActive !== ''">
                    {{ item.lastActive | datetime }}
                  </span>
                  <span v-else> - </span>
                </template>
                <template v-slot:[`item.status`]="{ item }">
                  <v-chip
                    :color="
                      item.status === 'online'
                        ? 'green'
                        : item.status === 'blocked'
                        ? 'error'
                        : 'orange'
                    "
                    class="text-capitalize"
                    dark
                  >
                    {{ item.status }}
                  </v-chip>
                </template>
              </v-data-table>
            </v-skeleton-loader>
            <div
              class="text-center text--secondary"
              v-show="!loadVariables && variables.length < 1"
            >
              <v-icon
                style="font-size: 60px; margin-top: 1.5em"
                color="primary"
              >
                mdi-close-circle-outline
              </v-icon>
              <p class="headline font-weight-bold mt-2 mb-1">Data Not Found</p>
              <p>Data you are looking for is not here</p>
            </div>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-row>
              <v-col
                v-if="variables.length > 0 && $vuetify.breakpoint.name !== 'xs'"
                cols="5"
              >
                <div class="body-2 font-weight-bold mt-4">
                  Total {{ variables.length }} data
                </div>
              </v-col>
              <v-col
                v-if="pageCount > 1"
                :cols="$vuetify.breakpoint.name !== 'xs' ? '7' : '12'"
              >
                <div class="float-sm-right">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    :total-visible="5"
                    color="primary"
                    circle
                  >
                  </v-pagination>
                </div>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import variable from '@/mixins/variable';
import Breadcrumbs from '@/components/Breadcrumbs';
export default {
  components: { Breadcrumbs },
  mixins: [variable],
  data() {
    return {
      selectedPage: '',
      detail: {},
      dialog: {
        delete: false,
        create: false,
      },
      page: 1,
      pageCount: 0,
      search: '',
      itemsPerPage: 10,
      itemsPerPageOptions: [10, 20, 30, 50],
      form: {
        id: '',
        varId: '',
        tabs: '',
        parameters: '',
        description: '',
      },
      headers: [
        {
          text: 'No',
          value: 'no',
          align: 'start',
          width: 60,
          sortable: false,
          class: 'text-uppercase body-2',
        },
        {
          text: 'Parameter ID',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'varId',
        },
        {
          text: 'Description',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'description',
        },
        {
          text: 'Tabs',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'tabs',
        },
        {
          text: 'Parameters',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'parameters',
        },
        {
          text: 'Aksi',
          value: 'aksi',
          align: 'start',
          width: 200,
          sortable: false,
          class: 'text-uppercase body-2',
        },
      ],
      breadcrumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
        },
        {
          text: 'Administration',
          disabled: true,
          to: '/',
        },
        {
          text: 'Variable Parameters',
          disabled: true,
          to: '/',
        },
      ],
    };
  },
  mounted() {
    this.getVariables();
  },
  methods: {
    updateHandler(item) {
      this.selectedPage = 'update';
      this.form = {
        id: item.id,
        varId: item.varId,
        tabs: item.tabs,
        parameters: item.parameters,
        description: item.description,
      };
      this.dialog.create = true;
    },
    reset() {
      this.clearError();
      if (this.$refs.observer) this.$refs.observer.reset();
      this.dialog = {
        delete: false,
        create: false,
      };
      this.form = {
        id: '',
        varId: '',
        tabs: '',
        parameters: '',
        description: '',
      };
      this.selectedPage = '';
      this.detail = {};
    },
    async deleteHandler(id) {
      this.clearError();
      try {
        await this.deleteVariable(id);
        this.page = 1;
        this.reset();
        this.$toast.success('Delete Success!');
        await this.getVariables();
      } catch (e) {
        this.$toast.error(e.message);
      }
    },
    async save() {
      this.clearError();
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          if (this.form.id) {
            await this.updateVariable(this.form, this.form.id);
          } else {
            await this.createVariable(this.form);
          }
          this.page = 1;
          this.reset();
          this.$toast.success('Data saved successfully!');
          await this.getVariables();
        } catch (e) {
          this.$toast.error(e.message);
        }
      }
    },
  },
};
</script>
