<template>
  <v-app>
    <Navbar v-if="isLoggedIn" />
    <v-main class="primary lighten-2">
      <div class="pt-5 pl-3">
        <router-view />
      </div>
    </v-main>
    <v-footer padless>
      <v-col cols="12" class="text-center text-sm-right body-2">
        Copyright @ {{ new Date().getFullYear() }} Widya Imersif Teknologi. All
        rights reserved
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
import Navbar from '@/components/Navbar';
export default {
  name: 'App',
  components: {
    Navbar,
  },
  computed: mapGetters(['isLoggedIn']),
  mounted() {
    if (this.isLoggedIn) {
      this.$store.dispatch('getProfile');
    }
  },
};
</script>
