<template>
  <div
    class="my-5"
    :class="
      $vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'
        ? 'pr-5 pl-2'
        : 'px-2'
    "
  >
    <v-dialog v-model="dialog.logout" scrollable persistent width="350">
      <v-card>
        <v-card-title class="primary white--text">
          <v-icon color="white" class="mr-2">mdi-information</v-icon>
          Information
          <v-btn class="mt-n1" icon dark top right absolute @click="reset">
            <v-icon color="primary lighten-1">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-6">
          <p class="ma-0 body-1">
            Are you sure want to end session
            <span class="font-weight-bold">
              {{ detail.username }}
            </span>
            ?
          </p>
          <v-alert
            v-if="error.message"
            text
            type="error"
            class="custom-alert my-4"
          >
            <p class="body-2 mb-0">
              {{ error.message }}
            </p>
          </v-alert>
        </v-card-text>
        <v-card-actions class="pb-6 px-6">
          <v-spacer></v-spacer>
          <v-btn
            small
            text
            color="red"
            elevation="0"
            :disabled="loadFormUser"
            class="text-capitalize"
            @click="logOutHandler(detail.id)"
          >
            Yes
          </v-btn>
          <v-btn
            small
            light
            color="primary"
            elevation="0"
            :disabled="loadFormUser"
            @click="reset"
            class="white--text text-capitalize"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col cols="12">
        <Breadcrumbs :items="breadcrumbs" />
      </v-col>
      <v-col cols="12">
        <v-card flat>
          <v-card-title>
            <v-row align="center" justify="space-between">
              <v-col
                cols="12"
                md="8"
                class="d-flex flex-column-reverse flex-md-row align-md-center"
              >
                <div
                  class="d-flex my-2 align-center mr-md-2 text--secondary caption"
                >
                  <span class="mr-1">Show</span>
                  <v-select
                    style="width: 80px"
                    class="body-2 mx-1"
                    v-model="itemsPerPage"
                    outlined
                    single-line
                    hide-details
                    dense
                    :items="itemsPerPageOptions"
                  ></v-select>
                  <span class="ml-1">entries</span>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  class="body-2"
                  single-line
                  outlined
                  dense
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-skeleton-loader
              class="ma-auto"
              :loading="loadUsers"
              transition="fade-transition"
              :tile="false"
              type="table-row"
              v-for="index in loadUsers ? 10 : 1"
              :key="index"
            >
              <v-data-table
                v-show="users.length >= 1"
                :headers="headers"
                mobile-breakpoint="1"
                hide-default-footer
                :items="users"
                :page.sync="page"
                @page-count="pageCount = $event"
                :search="search"
                :items-per-page="itemsPerPage"
                fixed-header
                min-height="250px"
                :height="
                  $vuetify.breakpoint.name !== 'xs' ? 'calc(100vh - 52vh)' : ''
                "
              >
                <template v-slot:[`item.no`]="{ index }">
                  {{ index + 1 }}
                </template>
                <template v-slot:[`item.aksi`]="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        small
                        outlined
                        color="red"
                        elevation="0"
                        class="text-capitalize white--text ma-1"
                        v-bind="attrs"
                        v-on="on"
                        @click="
                          detail = item;
                          dialog.logout = true;
                        "
                      >
                        <v-icon small>mdi-power</v-icon>
                      </v-btn>
                    </template>
                    <span>Logout User</span>
                  </v-tooltip>
                </template>
              </v-data-table>
            </v-skeleton-loader>
            <div
              class="text-center text--secondary"
              v-show="!loadUsers && users.length < 1"
            >
              <v-icon
                style="font-size: 60px; margin-top: 1.5em"
                color="primary"
              >
                mdi-close-circle-outline
              </v-icon>
              <p class="headline font-weight-bold mt-2 mb-1">Data Not Found</p>
              <p>Data you are looking for is not here</p>
            </div>
          </v-card-text>
          <v-card-actions class="pb-6 px-6">
            <v-row>
              <v-col
                v-if="users.length > 0 && $vuetify.breakpoint.name !== 'xs'"
                cols="5"
              >
                <div class="body-2 font-weight-bold mt-4">
                  Total {{ users.length }} data
                </div>
              </v-col>
              <v-col
                v-if="pageCount > 1"
                :cols="$vuetify.breakpoint.name !== 'xs' ? '7' : '12'"
              >
                <div class="float-sm-right">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                    :total-visible="5"
                    color="primary"
                    circle
                  >
                  </v-pagination>
                </div>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import user from '@/mixins/user';
import Breadcrumbs from '@/components/Breadcrumbs';
export default {
  components: { Breadcrumbs },
  mixins: [user],
  data() {
    return {
      detail: {},
      dialog: {
        logout: false,
      },
      page: 1,
      pageCount: 0,
      search: '',
      itemsPerPage: 10,
      itemsPerPageOptions: [10, 20, 30, 50],
      headers: [
        {
          text: 'No',
          value: 'no',
          align: 'start',
          width: 60,
          sortable: false,
          class: 'text-uppercase body-2',
        },
        {
          text: 'NIK',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'nik',
        },
        {
          text: 'Name',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'fullname',
        },
        {
          text: 'Username',
          width: 200,
          class: 'text-uppercase body-2',
          value: 'username',
        },
        {
          text: 'Aksi',
          value: 'aksi',
          align: 'center',
          width: 200,
          sortable: false,
          class: 'text-uppercase body-2',
        },
      ],
      breadcrumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
        },
        {
          text: 'Administration',
          disabled: true,
          to: '/',
        },
        {
          text: 'Session Management',
          disabled: true,
          to: '/',
        },
      ],
    };
  },
  mounted() {
    this.getUsersHandler();
  },
  methods: {
    async getUsersHandler() {
      const users = await this.getUsers();
      this.users = users.filter((user) => user.isActive === true);
    },
    reset() {
      this.clearError();
      this.dialog = {
        logout: false,
      };
      this.detail = {};
    },
    async logOutHandler(id) {
      this.clearError();
      try {
        await this.logOutUser(id);
        this.page = 1;
        this.reset();
        this.$toast.success('Successfully Ended user session!');
        await this.getUsersHandler();
      } catch (e) {
        this.$toast.error(e.message);
      }
    },
  },
};
</script>
